<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrary">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <!-- Required if your app targets Android 10 (API level 29) or higher -->
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />



  <application
    android:allowBackup="true">
   <receiver android:name=".GeofenceBroadcastReceiver"/>
  <application/>

</manifest>
